bower_components
node_modules

.komodotools
*.komodoproject

# compiled css
/app/visual/css/*

# node-webkit runtimes
/nw/macos/node-webkit.app/*
/nw/windows/*

# 7zip (command line version)
/scripts/7zip/*

# temporaty folder used for testing
/spec/temp

# data folder for testing
/data