<div class="organize__feed  layout-justify  table-row">
    <div ng-hide="feed.favicon != undefined" class="organize__feed-icon  organize__feed-icon--none"/>
    <img ng-show="feed.favicon != undefined" ng-src="{{feed.favicon}}" class="organize__feed-icon"/>
    <span class="organize__feed-title">{{feed.title}}</span>
    <a class="button2" ng-click="showChangeCategory = !showChangeCategory">
        <span ng-hide="showChangeCategory">move to</span>
        <span ng-show="showChangeCategory">cancel</span>
    </a>
    <select ng-show="showChangeCategory" ng-model="chosenCategoryName"
        ng-change="changeCategory()"
        ng-options="catName for catName in categoriesNames">
        <option value="">(no category)</option>
    </select>
    <div class="layout-justify__last">
        <span ng-show="showDelete">
            Delete feed?
            <a class="button2 organize__yes-btn" ng-click="remove()">yes</a>
        </span>
        <a class="button2" ng-click="showDelete = !showDelete">
            <span ng-hide="showDelete">delete</span>
            <span ng-show="showDelete">no</span>
        </a>
    </div>
</div>