<div>
    <div>
        <h2 class="organize__category-name">
            <span ng-hide="showRename">{{category.name}}</span>
            <span ng-show="showRename">
                <input type="text" ng-model="newName"/>
                <button ng-click="onChangeName()">save</button>
            </span>
        </h2>
        <a class="button2" ng-click="showRename = !showRename">
            <span ng-hide="showRename">rename</span>
            <span ng-show="showRename">cancel</span>
        </a>
        <a class="button2" ng-click="showDelete = !showDelete">
            <span ng-hide="showDelete">delete</span>
            <span ng-show="showDelete">cancel</span>
        </a>
        <span ng-show="showDelete">Are you sure? <a class="button2" ng-click="onDelete()">Yes, delete whole category.</a></span>
    </div>
    <div ng-repeat="feed in category.feeds">
        <organize-feed feed="feed" categories-names="categoriesNames"/>
    </div>
</div>