<div id="{{art.id}}" class="article {{isReadClass}}">
    
    <div class="article__header">
        <h1 class="article__title">
            <a class="js-title" href="{{art.link}}">{{art.title}}</a>
            <div class="article__feed-info">{{feedInfo}}</div>
        </h1>
    </div>
    
    <div class="article__content">{{articleContent}}</div>
    
    <div class="article__tags  js-article-tags">
        {{articleTags}}
    </div>
    
    <div class="article__actions  js-article-actions">
        <a class="article__action-button  button2  js-show-pick-tag-menu">
            tags
        </a>
        <a class="article__action-button  button2" href="{{art.link}}">
            <svg class="button2__icon" width="128px" height="128px" viewBox="0 0 128 128">
                <path class="button2__icon-obj" d="m 23.992167,45.451661 0,37.095678 42.151284,0 0,23.184981 39.255379,-41.732079 -39.255379,-41.733563 0,23.184983 z"/>
            </svg>
            see in browser
        </a>
        <div class="article__action-button  button2  article__toggle-read-state  js-toggle-is-read">
            <span class="article__read-state-indicator"></span>
            mark as read
        </div>
    </div>
    
</div>