<h1>Useful keyboard and mouse keys</h1>

<table class="controls_table">
    <tr>
        <td><img src="visual/images/controls/mouse-right.svg"/></td>
        <td><b>right-click</b> will mark first visible on screen article as read and jump to next unread article</td>
    </tr>
    <tr>
        <td><img src="visual/images/controls/space.svg"/></td>
        <td><b>space</b> works the same as <b>right-click</b></td>
    </tr>
    <tr>
        <td><img src="visual/images/controls/up-down.svg"/></td>
        <td><b>up / down arrows</b> scroll articles</td>
    </tr>
    <tr>
        <td><img src="visual/images/controls/left-right.svg"/></td>
        <td><b>left / right arrows</b> jump to next / previous article</td>
    </tr>
    <tr>
        <td><img src="visual/images/controls/ctrl-left-right.svg"/></td>
        <td><b>ctrl + left / right arrows</b> jump to next / previous page</td>
    </tr>
    <tr>
        <td><img src="visual/images/controls/enter.svg"/></td>
        <td><b>enter</b> marks everything as read on currently viewed category or feed</td>
    </tr>
</table>
