<div class="two-columns">
    
    <div class="column-one">
        <div class="toolbar-on-left__container">
            <div class="toolbar-on-left">
                <a class="button2" href="#/">Go back</a>
            </div>
        </div>
    </div>
    
    <div ng-switch="subview" class="column-two">
    <div class="text  scroll">
        
        <div ng-switch-when="about" ng-include="'views/about/about.html'"></div>
        <div ng-switch-when="update" ng-include="'views/about/update.html'"></div>
        <div ng-switch-when="controls" ng-include="'views/about/controls.html'"></div>
        
    </div>
    </div>
    
</div>