<h1>New version of Sputnik is Available!</h1>

<p>&nbsp;</p>

<p>
    The new version is: &nbsp; <span class="version-label  update__version-label--new">{{newVersionAvailable}}</span>
    <span class="update__curr-version">&nbsp; (you are currently using: &nbsp;<span class="version-label">{{appVersion}}</span>)</span>
</p>

<p>
    To find out what's new in this version or download it,<br/>
    visit <a class="js-external-link" ng-href="{{websiteUrlUpdate}}"><b>Sputnik's website</b></a>.
</p>