<div class="two-columns">
    
    <div class="column-one">
        <div class="toolbar-on-left__container">
            <div class="toolbar-on-left">
                <a class="button2" href="#/">Go back</a>
            </div>
        </div>
    </div>
    
    <div class="column-two">
    <div class="text">

        <h1>Import</h1>
        
        <input id="selectedOpmlPath" type="file" style="display: none;"/>
        
        <p>
            Here you can import to Sputnik your feeds from other news reader.<br/>
            Simply click button below and select file with feeds you would like to import.
        </p>
        <p><button ng-click="openImportDialog()">Select file with feeds</button></p>
        
        <p ng-show="state == 'importFileInvalid'">This file is not valid, I can do nothing with it. Are you sure you picked the right one?</p>
        
        <div ng-show="exportVisible">
            <h1>Export</h1>
            
            <input id="saveOpmlToPath" type="file" style="display: none;" nwsaveas="sputnik-feeds.opml.xml"/>
            
            <p>If you want to use your feeds in another application, click button below. All your feeds will be saved (exported) into one file, you can then import this file in other news reader.</p>
            <p><button ng-click="openExportDialog()">Save my feeds to file</button></p>
            
            <p ng-show="state == 'exportDone'">Done! File has been saved on disk.</p>
        </div>
        
    </div>
    </div>
    
</div>