<div class="two-columns">
    
    <div class="column-one">
        <div class="toolbar-on-left__container">
            <div class="toolbar-on-left">
                <a class="button2" href="#/">Go back</a>
            </div>
        </div>
    </div>
    
    <div class="column-two">
    <div class="text scroll">
        
        <h1>Organize your feeds</h1>
        
        <div class="organize__add-category">
            <label>add new category:</label>
            <input type="text" ng-model="newCategoryName"/>
            <button class="inputty" ng-click="addNewCategory()"
                    ng-disabled="newCategoryName == ''">
                add
            </button>
        </div>
        
        <div ng-repeat="item in feedsTree" ng-switch="item.type">
            <div ng-switch-when="category" class="organize__category-container">
                <organize-category category="item" categories-names="categoriesNames"/>
            </div>
            <div ng-switch-when="feed">
                <organize-feed feed="item" categories-names="categoriesNames"/>
            </div>
        </div>
        
    </div>
    </div>
    
</div>