<div class="two-columns">
    
    <div class="column-one">
        <div class="toolbar-on-left__container">
            <div class="toolbar-on-left">
                <a class="button2" href="#/">Go back</a>
            </div>
        </div>
    </div>
    
    <div class="column-two">
    <div class="text  scroll">
        
        <h1>Settings</h1>
        
        <div class="settings__section">
            <h2>Reading</h2>
            <p>
                Show 
                <input type="number" ng-model="config.articlesPerPage" min="1" max="100"
                       class="numeric-stepper"/>
                articles per page.
            </p>
        </div>
        
        <div class="settings__section">
            <h2>Hard disk space</h2>
            <p>
                Delete articles older than
                <input type="number" ng-model="config.keepArticlesForMonths" min="1" max="100"
                       class="numeric-stepper"/>
                months.
            </p>
            <p>
                <input type="checkbox" ng-model="config.keepTaggedArticlesForever"/>
                Keep tagged articles forever
            </p>
        </div>
        
    </div>
    </div>
    
</div>